@tailwind base;
@tailwind utilities;
@tailwind components;

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.aspect {
  height: 30vw;
  width: 60vw;
}

.vw {
  font-size: 4vw;
}
